<h1 class="lead" style="text-align: center; font-size: 32px; margin-top: 50px">Visual Search Results</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="col-sm-2" style="text-align: center;">Match 1</th>
      <th class="col-sm-2" style="text-align: center;">Match 2</th>
      <th class="col-sm-2" style="text-align: center;">Match 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <img ng-src="{{images[0]}}" style="width:224px; height:224px; display: block; margin-left: auto; margin-right: auto;" />
      </td>
      <td>
        <img ng-src="{{images[1]}}" style="width:224px; height:224px; display: block; margin-left: auto; margin-right: auto;" />
      </td>
      <td>
        <img ng-src="{{images[2]}}" style="width:224px; height:224px; display: block; margin-left: auto; margin-right: auto;" />
      </td>
    </tr>
    <tr>
      <td>
        <a style="font-size: 12px;">{{titles[0]}}</a>
      </td>
      <td>
        <a style="font-size: 12px;">{{titles[1]}}</a>
      </td>
      <td>
        <a style="font-size: 12px;">{{titles[2]}}</a>
      </td>
    </tr>
  </tbody>
</table>
